body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #ececec;
}

.input-group {
  width: 250px;
}

#form-radius {
  display: flex;
}

.container {
  max-width: 730px;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  border-color: #bdbdbd;
  border-width: 1px;
}

.hidden {
  display: none;
}